@page
@model KoCNihul.Pages.Genders.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>עריכת מגדר</h1>

<h4>מגדרים</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Gender.GenderId" />
            <div class="form-group">
                <label asp-for="Gender.Title" class="control-label"></label>
                <input asp-for="Gender.Title" class="form-control" />
                <span asp-validation-for="Gender.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender.Desc" class="control-label"></label>
                <input asp-for="Gender.Desc" class="form-control" />
                <span asp-validation-for="Gender.Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender.Context" class="control-label"></label>
                <input asp-for="Gender.Context" class="form-control" />
                <span asp-validation-for="Gender.Context" class="text-danger"></span>
            </div>
            @*<div class="form-group form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Gender.Active" /> @Html.DisplayNameFor(model => model.Gender.Active)
            </label>
        </div>*@
            <div class="form-group">
                <label asp-for="Gender.Active" class="control-label"></label>
                <input asp-for="Gender.Active" class="form-control" />
                <span asp-validation-for="Gender.Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="שמור" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">חזרה לרשימה</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
